:root {
    --primary: #fcb165;
    --primary-dark: #fe9040;
    --secundary: #ff7866;
    --secundary-dark: #ff5040;
    --gray: #e1e4e5;
    --gray-dark: #4b4c4d;
    --black: #323333;
    --white: #f5f9fa;
    --green: #34D399;
    --green-dark: #039e6a;
}
/* estilos del body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/recursos/imagen-cocina4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* estilos del header  */
header {
    display: flex;
    background-color: var(--secundary-dark);
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}
/* estilos del titulo  */
header h1 {
    color: var(--white);
    font-size: 50px;
}
/* estilos del boton con el icono de hamburguesa  */
.burger-menu {
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: var(--white);
    font-size: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}
/* estableciendo transiciones usando transiciones  */
.burger-menu:hover {
    background-color: var(--white);
    color: var(--black);
}

header div img {
    width: 100px;
    height: 100px;
    border-radius: 45px;
}

main {
    min-height: 300px;
}
/* estilos de la seccion donde se clickea para crear una receta  */
.crear-receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 600px;
    transform: translateX(60%);
    margin-top: 70px;
    padding: 20px 0 30px 0;
    color: var(--black);
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
/* estilos del boton crear  */
.boton-crear {
    background-color: var(--secundary);
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    transition: background-color .3s ease, transform .3s ease, border-radius .3s ease;
    cursor: pointer;
}
/* transicion en el boton crear  */
.boton-crear:hover {
    background-color: #4CAF50;
    transform: scale(1.05);
    border-radius: 0;
}
/* estilos para seccion donde aparecera la lista de recetas creadas */
.lista-recetas {
    background-color: white;
    height: 20px;
    width: 600px;
    transform: translateX(60%);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    margin-top: 25px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

/* estilos para el contenedor del modal */

.contenedor-modal {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 100; */
}

/* estilos para el contenido del modal */

.contenido-modal {
    background-color: var(--primary);
    padding-bottom: 40px;
    width: 75%;
    height: auto;
    border-radius: 5px;
    text-align: center;
}

/* estilos para el titulo del modal  */

.titulo-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    margin: 0;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.titulo-modal-btn {
    /* background-color: #4CAF50; */
    width: 125px;
    display: flex;
    justify-content: space-between;
}

/* estilos para el boton de guardar dentro del modal */

#guardar {
    background-color: var(--green);
    padding: 10px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

#guardar:hover {
    background-color: var(--green-dark);
    transform: scale(1.05);
    border-radius: 0;
}

/* estilos para el boton de cerrar dentro del modal */

#cerrar {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

#cerrar:hover {
    border-radius: 0;
    border: 1px solid var(--gray-dark);
    transform: scale(1.05);
}

/* Estilos para el segundo contenido del contenedor modal donde estan los titulos h4 y los inputs */

.contenido-modal-dos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo-textarea {
    position: relative;
    margin-bottom: 30px;
}

/* estilos para los textarea */

.contenedor-modal textarea {
    padding: 10px;
    background-color: var(--gray);
    border: none;
    border-radius: 5px;
    width: 40ch;
    transition: all .3s ease;
    position: absolute;
    top: 70%;
    left: 20%;
    resize: none;
}

.contenedor-modal textarea:hover {
    transform: scale(1.05);
}

.contenedor-modal textarea:focus {
    width: 60ch;
    height: 20ch;
    z-index: 1;
}

footer {
    background-color: var(--gray-dark);
    padding: 10px;
    text-align: center;
    color: white;
}